body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    display: fixed;
    left: 0;
    bottom: 0;
}

section#featured-products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 0%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-color: #fff;
}

.product:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product h2,
.product p {
    margin: 10px 0;
    text-align: center;
}

.product button {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #333;
}

.checked {
    color: yellow;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal img {
    max-width: 90%;
    max-height: 80%;
    border: 2px solid;
    border-color: #000;
    border-radius: 10px;
    margin: auto;
    cursor: auto;
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.size-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    gap: 4px;
}

.size-selection h5 {
    margin: 0;
    font-size: 18px;
}

.size-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12px;
    background-color: #000;
    color: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 25px;
    height: 25px;
}

.size-btn:hover {
    background-color: #333;
    transform: scale(1.1);
}

.size-btn.selected {
    background-color: #555;
    transform: scale(1.15);
}

/* Styling for about us page elements */
#about-container {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px 10px 0 10px;
}

#about-container h1 {
    font-size: 5em;
}

#about-container h3 {
    font-size: 3em;
    padding: 10px;
}

#about-container h4 {
    font-size: 2em;
    color: #222;
    padding: 10px;
}

#about-shoe-link {
    color: #7db9d1;
}

#about-container p {
    font-size: 1.5em;
}

#about-hero {
    max-width: 1200;
    height: 247px;
    padding-bottom: 20px;
    text-align: center;
}

#about-intro {
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #222;
}

#about-map {
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #222;
}

#about-map-element {
    border: 3px solid #222;
    border-radius: 8px;
    height: 450px;
    width: 450px;
}

#about-form {
    text-align: center;
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #222;
}

#about-form-element {
    display: inline-block;
    margin: 0 50px;
}

#about-form input[type="text"],
#about-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#about-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

#about-form input[type="submit"]:hover {
    background-color: #555;
}

/*Tablet Viewport*/
@media (max-width: 768px) {
    section#featured-products {
        grid-template-columns: repeat(2, 1fr);
    }

    .tablet-desktop {
        display: block;
    }

    #about-map-element {
        height: 300px;
        width: 300px;
    }

}

/*Mobile Viewport*/
@media (max-width: 480px) {
    section#featured-products {
        grid-template-columns: 1fr;
    }

    .tablet-desktop {
        display: none;
    }

    #about-container {
        max-width: 1200px;
        margin: 5px, 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
        text-align: center;
    }

    #about-container h3 {
        font-size: 3em;
        padding: none;
    }

    #about-intro {
        grid-column: 1;
        grid-row: 1;
        padding-top: 10px;
        border: none;
    }

    #about-map {
        grid-column: 1;
        grid-row: 2;
        border: none;
    }



    #about-form {
        grid-column: 1;
        grid-row: 3;
        border: none;
    }

    #about-form-element {
        display: inline-block;
        margin: 0 10px;
    }

}

.cart-summary {
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 10px;
    border: #222 solid 2px;
    border-radius: 10px;
}

.shipping-info {
    margin: 5%;
    padding: 10px;
    border: #222 solid 2px;
    border-radius: 10px;
}

label {
    margin-left: 2%;
    margin-bottom: 2%;
}

input {
    border: #000 solid 1px;
    border-radius: 3px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    width: 96%;
}

button {
    margin-top: 2%;
}

.cart-items p {
    margin: 1%;
}

.total {
    margin-top: 4%;
}

.zipcode {
    width: 10%;
}

.form-row {
    display: flex;
    margin: 2%;
}

.form-column {
    flex: 50%;
}
